body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(25, 34, 107);
    font-size: larger;
}

header {
color: rgb(214, 78, 24);
}

nav {color: aliceblue;}
main {
   color:  rgb(161, 219, 178);
}

span {
    color: rgb(214, 78, 24);
    font-style: oblique;
}

#maintitle {
    color: rgb(47, 122, 151);
}

.bigger {
    font-size: larger;
    font-weight: bolder;
}

.maincolor {
      color: rgb(255, 166, 0);
}

footer {
    color: aliceblue;
}